.header1 {
  font-family: var(--font-family);
  font-weight: 200;
}

.header2 {
  font-family: var(--font-family);
  font-weight: 300;
  // font-family: var(--second-family);
}

.header3 {
  font-family: var(--font-family);
  font-weight: 400;
  // font-family: var(--third-family);
}

.header4 {
  font-family: var(--font-family);
  font-weight: 500;
  // font-family: var(--font3);
}

.header5 {
  font-family: var(--font-family);
  font-weight: 600;
}

.header6 {
  font-family: var(--font-family);
  font-weight: 700;
}

.header7 {
  font-family: var(--font-family);
  font-weight: 800;
}

// Benzin
.header8 {
  font-family: var(--second-family);
  // font-weight: 400;
}

.header9 {
  font-family: var(--third-family);
  // font-weight: 600;
}

.header10 {
  font-family: var(--font3);
  // font-weight: 800;
}

.header11 {}

.header12 {}

.header13 {}

.header14 {}

.header15 {}

.header16 {}